<script src="/js/map.js"></script>
<script src="/js/ui.js"></script>
<script src="/js/socket.js"></script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB2Cik34G3VyRJnSeWNz3OuJCIHMkE6pmQ&callback=initMap">
</script>
</body>
</html>