<% include ./partials/header.ejs %>


<div class="container container-table">
	<div class="row vertical-center-row">
		<div class="text-center col-md-4 col-md-offset-4">
			<h1><%= title %></h1>
			<% if(typeof message !== 'undefined'){ %>

		<div class="alert alert-danger" role="alert">
			<strong>Error!</strong> <%= message %>
		</div>
			<% } %>
		</div>
	</div>
	<div class="row vertical-center-row">
		<div class="text-center col-md-4 col-md-offset-4">
			<form method="post" action="/">
				<div class="form-group">
					<label for="username">Username</label>
					<input id="username" type="text" name="username" />
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input id="password" type="password" name="password" />
				</div>
				<div class="form-group">
					<input type="submit" />
				</div>
			</form>
		</div>
	</div>
</div>


<% include ./partials/footer.ejs %>
