<% include ../partials/header.ejs %>
<div clas="row">

	<% include ../partials/navigation.ejs %>

	<div class="col-sm-9 col-md-10 content">
		<h1>Add Resource</h1>
		<form class="form-horizontal" method="post" action="/device/add">
			<fieldset>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="device">Device Number</label>
					<div class="col-md-5">
						<input id="device" name="device" type="text" placeholder="Device Number" class="form-control input-md">

					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="callsign">Callsign</label>
					<div class="col-md-5">
						<input id="callsign" name="callsign" type="text" placeholder="Callsign" class="form-control input-md">

					</div>
				</div>

				<!-- Select Basic -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="type">Resource Type</label>
					<div class="col-md-5">
						<select id="type" name="resourceType" class="form-control">
							<option value="Traffic">Traffic Officer</option>
							<option value="Armed">Armed Response</option>
							<option value="Emergency">Emergency Response</option>
							<option value="General">General Response</option>
						</select>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="submit"></label>
					<div class="col-md-4">
						<button id="submit" name="submit" class="btn btn-success">Submit</button>
					</div>
				</div>


			</fieldset>
		</form>

	</div>
</div>

<% include ../partials/footer.ejs %>