<html>
<head>
	<title></title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script>
        var socket = io('http://localhost:3001');
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
        });
	</script>
	<style>
		#map {
			height: 100%;
		}


	</style>
</head>
<body>
<div clas="row">
	<div class="col-sm-3 col-md-2 sidebar">
		<div class="sidebar-nav">
			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="visible-xs navbar-brand">Sidebar menu</span>
				</div>
				<div class="navbar-collapse sidebar-navbar-collapse collapse" style="height: 1px;">
					<ul class="nav navbar-nav" id="sidenav01">
						<li class="active">
							<a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
								<h4>
									Dashboard
								</h4>
							</a>
						</li>
						<li><a href="/dashboard"><span class="glyphicon glyphicon-lock"></span> Dashboard</a></li>
						<li class="active"><a href="/command"><span class="glyphicon glyphicon-lock"></span> Command & Control</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages <span class="badge pull-right">42</span></a></li>
						<li><a href=""><span class="glyphicon glyphicon-cog"></span> Preferences</a></li>
						<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-7 col-md-6 content">
		<div id="map"></div>
	</div>
	<div class="col-sm-2 col-md-4 properties-bar">
		<button type="button" class="close" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>


	<!--<div class="col-sm-9 col-md-10 content">
		<div id="map"></div>
	</div>
	<div class="col-sm-2 col-md-4 properties-bar" style="display: none;">

	</div>-->
</div>

<script src="/js/map.js"></script>
<script src="/js/ui.js"></script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB2Cik34G3VyRJnSeWNz3OuJCIHMkE6pmQ&callback=initMap">
</script>
</body>
</html>