<% include ../partials/header.ejs %>

<div clas="row">

	<% include ../partials/navigation.ejs %>

	<div class="col-sm-9 col-md-10 content">
		<div id="map"></div>
	</div>
	<div class="col-sm-2 col-md-4 properties-bar incident hidden">
		<div class="row">
			<div class="col-md-12">
				<h1>New Incident</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#incidentDetails" onclick="test()">Incident Details</a></li>
					<li><a data-toggle="tab" href="#incidentWarnings">Warnings</a></li>
					<li><a data-toggle="tab" href="#incidentDispatch" onclick="fetchIncidentDispatch()">Dispatch</a></li>
				</ul>

				<div class="tab-content">
					<div id="incidentDetails" class="tab-pane active">
						<form class="form-horizontal">
							<fieldset>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-2 control-label" for="ilocation">Location</label>
									<div class="col-md-10">
										<input id="ilocation" name="ilocation" type="text" placeholder="location" class="form-control" required="">
									</div>
								</div>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="itype">Type</label>
									<div class="col-md-10">
										<select id="itype" name="itype" class="form-control">
											<option value="Road Traffic Accident">Road Traffic Accident</option>
											<option value="Drugs">Drugs</option>
											<option value="Theft">Theft</option>
											<option value="Shoplifting">Shoplifting</option>
											<option value="Anti Social Behaviour">Anti Social Behaviour</option>
											<option value="Burglary">Burglary</option>
											<option value="Vehicle Crime">Vehicle Crime</option>
											<option value="Robbery">Robbery</option>
											<option value="Criminal Damage">Criminal Damage</option>
											<option value="Possesion of Weapons">Possesion of Weapons</option>
											<option value="General Response">General Response</option>
										</select>
									</div>
								</div>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="istatus">Status</label>
									<div class="col-md-10">
										<select id="istatus" name="istatus" class="form-control">
											<option value="Open">Open</option>
											<option value="Comittied">Comittied</option>
											<option value="Resolved">Resolved</option>
										</select>
									</div>
								</div>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="selectbasic">Priority</label>
									<div class="col-md-10">
										<select id="selectbasic" name="selectbasic" class="form-control">
											<option value="Critical">Critical</option>
											<option value="High">High</option>
											<option value="Medium">Medium</option>
											<option value="Low">Low</option>
										</select>
									</div>
								</div>

								<!-- Textarea -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="idetails">Details</label>
									<div class="col-md-10">
										<textarea class="form-control" id="idetails" name="idetails"></textarea>
									</div>
								</div>

								<!-- Button (Double) -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="Save"></label>
									<div class="col-md-10">
										<button id="Save" name="Save" class="btn btn-success">Save</button>
										<button id="Reset" name="Reset" class="btn btn-danger">Reset</button>
									</div>
								</div>

							</fieldset>
						</form>
					</div>
					<div id="incidentWarnings" class="tab-pane disabled">
						<h2>Warning Markers</h2>
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Type</th>
								<th>Details</th>
								<th>Edit</th>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						<h2>New Warning Marker</h2>
						<form class="form-horizontal">
							<fieldset>

								<!-- Select Basic -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="iwarningtype">Warning Type</label>
									<div class="col-md-10">
										<select id="iwarningtype" name="iwarningtype" class="form-control">
											<option value="Violent">Violent</option>
											<option value="Weapons">Weapons</option>
											<option value="Entry Code">Entry Code</option>
											<option value="General">General</option>
										</select>
									</div>
								</div>

								<!-- Textarea -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="warningmarkerdetails">Marker Details</label>
									<div class="col-md-10">
										<textarea class="form-control" id="warningmarkerdetails" name="warningmarkerdetails"></textarea>
									</div>
								</div>

								<!-- Button (Double) -->
								<div class="form-group">
									<label class="col-md-2 control-label" for="Save"></label>
									<div class="col-md-10">
										<button id="Save" name="Save" class="btn btn-success">Save</button>
										<button id="Reset" name="Reset" class="btn btn-danger">Reset</button>
									</div>
								</div>

							</fieldset>
						</form>
					</div>
					<div id="incidentDispatch"  class="tab-pane disabled">
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Call Sign</th>
								<th>Type</th>
								<th>Last Update</th>
								<th>Distance</th>
							</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-md-4 properties-bar resource hidden">
		<h1>Resources</h1>
		<table class="table table-striped resourcesList">
			<thead>
			<tr>
				<th>Call Sign</th>
				<th>Status</th>
				<th>Type</th>
				<th>Last Update</th>
				<th></th>
			</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</div>

<% include ../partials/footer.ejs %>