<% include ../partials/header.ejs %>
		<div clas="row">

			<% include ../partials/navigation.ejs %>

			<div class="col-sm-9 col-md-10 content">

			</div>
		</div>

<% include ../partials/footer.ejs %>