<% include ../partials/header.ejs %>

<div clas="row">

	<% include ../partials/navigation.ejs %>

	<div class="col-sm-8 col-md-9 content">
		<div id="map"></div>
	</div>

	<div class="col-sm-1 col-md-1">
		<form>
			<fieldset>
				<div class="form-group">
					<div class="col-md-4">
						<div class="checkbox">
							<label for="checkboxes-0">
								<input type="checkbox" name="checkboxes" id="checkboxes-0" value="RTC">
								Road Traffic Incident
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-1">
								<input type="checkbox" name="checkboxes" id="checkboxes-1" value="Drugs">
								Drugs
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-2">
								<input type="checkbox" name="checkboxes" id="checkboxes-2" value="Theft">
								Theft
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-3">
								<input type="checkbox" name="checkboxes" id="checkboxes-3" value="Shoplifting">
								Shoplifting
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-4">
								<input type="checkbox" name="checkboxes" id="checkboxes-4" value="ASB">
								Anti Social Behaviour
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-5">
								<input type="checkbox" name="checkboxes" id="checkboxes-5" value="Burglary">
								Burglary
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-6">
								<input type="checkbox" name="checkboxes" id="checkboxes-6" value="VC">
								Vehicle Crime
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-7">
								<input type="checkbox" name="checkboxes" id="checkboxes-7" value="Robbery">
								Robbery
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-8">
								<input type="checkbox" name="checkboxes" id="checkboxes-8" value="CD">
								Criminal Damage
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-9">
								<input type="checkbox" name="checkboxes" id="checkboxes-9" value="PW">
								Possession of Weapons
							</label>
						</div>
						<div class="checkbox">
							<label for="checkboxes-10">
								<input type="checkbox" name="checkboxes" id="checkboxes-10" value="GR">
								General Response
							</label>
						</div>

						<div class="form-group">
							<div class="col-md-4">
								<button id="singlebutton" name="singlebutton" class="btn btn-primary">Go</button>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

</div>
<script src="/js/map.js"></script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Cik34G3VyRJnSeWNz3OuJCIHMkE6pmQ&libraries=visualization&callback=initHeatMap">
</script>

<% include ../partials/footer.ejs %>